<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeamTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TeamTrack.Properties.Settings.HistoryDBConnectionString"
            connectionString="data source=C:\TeamTrackData.s3db" providerName="System.Data.SQLite" />
    </connectionStrings>
    <userSettings>
        <TeamTrack.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TeamDelayed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TrackingPort" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="HistoryPort" serializeAs="String">
                <value>9998</value>
            </setting>
            <setting name="BufferTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SkipTime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CaptureThreshold" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CaptureDevice" serializeAs="String">
                <value>Mic</value>
            </setting>
            <setting name="AudioDir" serializeAs="String">
                <value>.</value>
            </setting>
        </TeamTrack.Properties.Settings>
    </userSettings>
</configuration>